/* App container */
.slide-app {
    width: 100vw;
    height: 100dvh;
    color: white;
    overflow: hidden;
    position: relative;
}

.animated-bg {
    background-size: 400% 400%;
    animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Slide */
.slide {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Progress indicator */
.progress-wrapper {
    position: absolute;
    top: 12px;
    left: 12px;
    right: 12px;

    display: flex;
    gap: 6px;
    z-index: 10;
}

.progress-bar {
    flex: 1;
    height: 4px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 2px;
    transition: background 0.3s;
}

.progress-bar.active {
    background: white;
}

/* Next button */
.next-btn {
    position: absolute;
    bottom: 40px;
    right: 24px;

    padding: 10px 16px;
    border-radius: 999px;
    border: none;

    background: white;
    color: black;
    font-weight: bold;
}

/* Intro */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    gap: 5rem;
}

.intro-header, .container-header{
    text-align: center;
}

.intro-bottom{
    text-align: center;
}

.container-entry{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.entry-img{
    width: 50%;
    border-radius: 50%;
}

.entry{
    text-align: center;
}