:root {
    width: 100vw;
    height: 100dvw;
    overflow: hidden;
}

* {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    line-height: calc(1em + 0.5rem);
}
